*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

}
.container{
    background-color: rgb(204, 231, 209)
}
.navbar{
    display: flex;
   /* align-items: center;*/
    padding: 0px;
    width: 100%;
}
nav{
   /* background: green;*/
    display: block;
    width: 100%;
    vertical-align: top;
    /*background-image: url(mos.webp);*/
}
 ul li{
    display: inline;
    margin-right: 20px;
    text-align: left;
    vertical-align: middle;
}

li a{
    
    text-decoration: none;
    color: rgb(8, 1, 1);
    margin-right: 70px;
    text-align: center;
    font-size: 20px;
}
.logo{
   background: rgb(35, 117, 23);
    text-align: center;
    margin: -40;
    padding: 50;
}
/*li a {
    padding: 14px, 16px;
    text-align: center;
}*/
.hero-image{
    background-image: url(images/mos.webp);
    height: 700px;
    width: 800p;
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/
}
.mos h1{
    text-align: center;
    /*background-color: green;*/
    color: white;
    padding-bottom: 10px;
   /* background-image: url(moon.png);
    position: relative;
    height: 100;
    background-repeat: no-repeat;
    background-position:100px;*/
    
   
}

.li{
    text-align: center;
}
.low{
    padding: 60px;
}
.addy{
    padding: 20px;
    text-align: center;
    text-decoration-line: underline;
}
div .gallery img{
    height: 700px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;

}
div .gallery{
    justify-content: center;
    align-items: center;
    display: flex;
}
.write{
    text-align: center;
}
.head {
    background-color: white;
    height: 400px;
    
}

.head h1 {
    text-align: center;
   
}
 .head pre{
    text-align: center;
    /*font-size: %;*/
    margin-right: 150px;
}
.date {
    
}
.table{
    margin-top: 400px;
}
table, tr, td{
    /*border: 1px solid black;*/
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    
}
.time{
    text-align: center;
}
table{
border-collapse: collapse;
width: 50%;
text-align: center;
margin: auto;
}
tr th{
    background: green;
    color: aliceblue;
    height: 40px;
}
tr:nth-child(even){
    background: rgb(179, 174, 174);
}

.zuhr img{
    width: 40;
}
.about {
    border: 20px;
    margin-top: 300px;
    
}
.about h1{
    text-align: center;
}
.dates {
    justify-content: center;
    align-items: center;
    
}
.date .clock{
    justify-content: center;
    align-items: center;
    display: flex;
}

